*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Laptop first*/
nav{
    background-color: rgba(34, 139, 34, 0.8);
}
.img-thumbnail{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 100%;
}
.offcanvas{
    max-width: 60vw;
    background-color: rgba(34, 139, 34);
}
.carousel{
    
}
.garden{
    background-image: url(src/images/backGround.jpg);
    background-size: cover;
    background-position: 42%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
}
.garden h1{
    font-size: 32pt;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px 0.5;
    text-align: center;
    padding: 0.5rem;
}
.transport{
    background-image: url(src/images/Carousel_transport.jpg);
    background-size: contain;
    background-position: 42%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
}
.transport h1{
    font-size: 32pt;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px 0.5;
    text-align: center;
    padding: 0.5rem;
}
.waste{
    background-image: url(src/images/entruempelung.jpg);
    background-size: cover;
    background-position: 42%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30vh;
}
.waste h1{
    font-size: 32pt;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px 0.5;
    text-align: center;
    padding: 0.5rem;
}
#contactBar{
    position: absolute;
    margin-top: 94.5vh;
    margin-left: 25%;
    margin-right: 25%;
    height: 3rem;
    border: 1px solid black;
    border-radius: 2rem;
    top: -2vh;
    background-color: white;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
}
#Überblick{
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(34, 139, 34, 0.8);
}
h2{
    font-size: 24pt;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 5vh;
}
.about-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.about-inner-text{
    width: 40vw;
    text-align: center;
    font-size: 22pt;
    border: 1px solid black;
    margin: 1rem;
    height: 30vh;
}
#whyMS{
    height: 80vh;
    background-color: rgba(34, 139, 34, 0.8);
    text-align: center;
    font-size: 22pt;
    padding-left: 25%;
    padding-right: 25%;
}
#about{
    height: 80vh;
    background-color: white;
    text-align: center;
    font-size: 22pt;
    padding-left: 25%;
    padding-right: 25%;
}
#contact{
    height: 40vh;
    background-color: white;
    text-align: center;
    font-size: 22pt;
    padding-left: 25%;
    padding-right: 25%;
}